<% include ../partials/header.ejs %>

    <div class="row">
        <h1 class="text-center">Add New Comment to <%= campground.name %></h1>
        <div style="width: 30%; margin: 25px auto;">
            <form action="/campgrounds/<%= campground._id %>/comments" method="POST">
                <div class="form-group">
                    <input class="form-control" type="text" name="comment[text]" placeholder="text">
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Submit!</button>
                </div>
            </form>

            <a href="/campgrounds">Go Back</a>
        </div>
    </div>

<% include ../partials/footer.ejs %>
